{% extends 'pages/base.html' %}
{% load static %}

{% block page_content %}
    <nav class="ant-breadcrumb" style="margin:16px 0;text-transform:uppercase;letter-spacing:1px;font-size:10px;font-weight:600;color:#349bd4">
        <ol>
            <li>
                <span class="ant-breadcrumb-link">
                    <a href="/">Главная</a>
                </span>
                <span class="ant-breadcrumb-separator">/</span>
            </li>
        </ol>
    </nav>
    <h4>Gamma Group - поставщик сетевого и серверного оборудования</h4>
    <div style="border-radius:6px;width:100%;min-height:350px;background:url({% static 'img/slider.png' %}) left center no-repeat #ABE1FA;margin-bottom:32px">
        <div class="ant-row ant-row-middle">
            <div style="min-height:350px" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-13 ant-col-lg-10"></div>
            <div style="vertical-align:middle;padding:24px" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-11 ant-col-lg-14">
                <h1 style="color:#1F3D79;margin-bottom:4px;font-size:26px">Электронные Компоненты</h1>
                <p>Поставщик серверного оборудования, сетевого оборудования и электронных компонентов</p>
            </div>
        </div>
    </div>
    <div class="ant-card ant-card-bordered">
        <div class="ant-card-head">
            <div class="ant-card-head-wrapper">
                <div class="ant-card-head-title">
                    Gamma Group
                </div>
            </div>
        </div>
        <div class="ant-card-body">
            <p>Gamma Group была организована в 2008 году как сообщество квалифицированных менеджеров,
                имеющих большой опыт работы в различных ИТ-структурах
                (реселлеры, дистрибьюторы,интеграторы, представительства вендоров, государственные структуры).</p>
            <div class="site-card-wrapper">
                <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 16px">
                    {% for cat in categories %}
                        <div name="categories_cards" onclick="window.location.href='/catalog/?category={{ cat.category.slug }}'"
                             class="ant-col ant-col-sm-12 ant-col-md-10 ant-col-lg-6" style="padding-left: 8px; padding-right: 8px; width: 100%; height: 100%">
                            <div class="ant-card ant-card-bordered brand">
                                <div class="ant-card-head" style="border-bottom:0">
                                    <div class="ant-card-head-wrapper">
                                        <div class="ant-card-head-title">{{ cat.category.name }} ({{ cat.amount }})</div>
                                   </div>
                                </div>
                                <div class="ant-card-body" style="height: 100%; width: 100%">
                                    <img alt="{{ cat.category.name }}" src="{{ cat.category.file.url }}" class="brand-image" loading="lazy"
                                         style="color: transparent; object-fit: fill;">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="ant-card ant-card-bordered">
        <div class="ant-card-head">
            <div class="ant-card-head-wrapper">
                <div class="ant-card-head-title">
                    Рекомендуемые производители
                </div>
            </div>
        </div>
        <div class="ant-card-body">
            <p>С самого начала мы определили для себя оптимальную формулу работы: цена как важнейший фактор продаж;
                индивидуальный подход, мы работаем с людьми, а не с "заказчиками";
                максимальная скорость обработки заказов; своевременная бесплатная доставка.</p>
            <div class="site-card-wrapper">
                <div class="ant-row" style="margin-left: -8px; margin-right: -8px; row-gap: 16px;">
                    {% for brand in brands %}
                        <div onclick="window.location.href='/catalog/?brand={{ brand.brand.slug }}'"
                                class="ant-col ant-col-sm-12 ant-col-md-10 ant-col-lg-6" style="padding-left: 8px; padding-right: 8px; width: 100%; height: 100%">
                            <div class="ant-card ant-card-bordered brand" style="height: 100%; width: 100%">
                                <div class="ant-card-body" style="height: 100%; width: 100%">
                                    <img alt="{{ brand.brand.name }}" src="{{ brand.brand.file.url }}" class="brand-image" loading="lazy"
                                         style="color: transparent; object-fit: fill">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}