{% load static %}

<html class=" FB_FW_ext Bco" lang="ru">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Gamma Group - Supplier of network and server equipment</title>
    <meta name="description" content="Supplier of network and server equipment">
    <meta name="next-head-count" content="4">
    {#    <link rel="stylesheet" href="{% static 'css/59fa98752805dbb1.css'%}" data-n-g="">#}
    <link rel="stylesheet" href="{% static 'css/8ad1e2eb9da02927.css'%}" data-n-p="">
    <link rel="stylesheet" href="{% static 'css/59fa98752805dbb1.css'%}" data-n-g="">
    <noscript data-n-css=""></noscript>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.ico' %}" />
</head>
<body>
<div id="__next">
    <section class="ant-layout layout">
        <header class="ant-layout-header" style="position:fixed;z-index:1;width:100%;display:flex;justify-content:flex-start">
            <div class="Logo_logo__Dkttb">
                <img alt="Gamma Group" srcset="{% static 'img/logo.png' %}" src="{% static 'img/logo2.webp' %}" width="32" height="32" decoding="async" data-nimg="future" class="logo" loading="lazy" style="color:transparent">
                <span class="Logo_title__qpwTs">Gamma&nbsp;Group</span>
            </div>
            <ul class="ant-menu-overflow ant-menu ant-menu-root ant-menu-horizontal ant-menu-light" style="width:calc(100% - 240px);margin-left:100px" role="menu" tabindex="0" data-menu-list="true">
                <li class="ant-menu-overflow-item ant-menu-item ant-menu-item-only-child" style="opacity:1;order:0" role="menuitem" tabindex="-1" data-menu-id="rc-menu-uuid-31054-1-/">
                    <span class="ant-menu-title-content">
                        <a href="/">Главная</a>
                    </span>
                </li>
                <li class="ant-menu-overflow-item ant-menu-item ant-menu-item-selected ant-menu-item-only-child" style="opacity:1;order:1" role="menuitem" tabindex="-1" data-menu-id="rc-menu-uuid-31054-1-/catalog/[[...path]]">
                    <span class="ant-menu-title-content">
                        <a href="/catalog">Каталог</a>
                    </span>
                </li>
                <li class="ant-menu-overflow-item ant-menu-item ant-menu-item-only-child" style="opacity:1;order:2" role="menuitem" tabindex="-1" data-menu-id="rc-menu-uuid-31054-1-/about">
                    <span class="ant-menu-title-content">
                        <a href="/about">О нас</a>
                    </span>
                </li>
                <li class="ant-menu-overflow-item ant-menu-item ant-menu-item-only-child" style="opacity:1;order:3" role="menuitem" tabindex="-1" data-menu-id="rc-menu-uuid-31054-1-/contacts">
                    <span class="ant-menu-title-content">
                        <a href="/contacts">Контакты</a>
                    </span>
                </li>
                <li class="ant-menu-overflow-item ant-menu-overflow-item-rest ant-menu-submenu ant-menu-submenu-horizontal ant-menu-submenu-disabled" style="opacity:0;height:0;overflow-y:hidden;order:9007199254740991;pointer-events:none;position:absolute" aria-hidden="true" role="none">
                    <div role="menuitem" class="ant-menu-submenu-title" aria-expanded="false" aria-haspopup="true" data-menu-id="rc-menu-uuid-31054-1-rc-menu-more" aria-controls="rc-menu-uuid-31054-1-rc-menu-more-popup" aria-disabled="true">
                        <span role="img" aria-label="ellipsis" class="anticon anticon-ellipsis">
                            <svg viewBox="64 64 896 896" focusable="false" data-icon="ellipsis" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                <path d="M176 511a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0zm280 0a56 56 0 10112 0 56 56 0 10-112 0z"></path>
                            </svg>
                        </span>
                        <i class="ant-menu-submenu-arrow"></i>
                    </div>
                </li>
            </ul>
            <div style="display:none" aria-hidden="true"></div>
        </header>
        <main class="ant-layout-content container">
            <nav class="ant-breadcrumb" style="margin:16px 0;text-transform:uppercase;letter-spacing:1px;font-size:10px;font-weight:600;color:#349bd4">
                <ol>
                    <li>
                        <span class="ant-breadcrumb-link">
                            <a href="/">Home</a>
                        </span>
                        <span class="ant-breadcrumb-separator">/</span>
                    </li>
                    <li>
                        <span class="ant-breadcrumb-link">
                            <a href="/catalog">Catalog</a>
                        </span>
                        <span class="ant-breadcrumb-separator">/</span>
                    </li>
                </ol>
            </nav>
            <h4>Gamma Group - supplier of network and server equipment</h4>
            <div style="border-radius:6px;width:100%;min-height:350px;background:url({% static 'img/slider.png' %}) left center no-repeat #ABE1FA;margin-bottom:32px">
                <div class="ant-row ant-row-middle">
                    <div style="min-height:350px" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-13 ant-col-lg-10"></div>
                    <div style="vertical-align:middle;padding:24px" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-11 ant-col-lg-14">
                        <h1 style="color:#1F3D79;margin-bottom:4px;font-size:26px">Electronic Components</h1>
                        <p>Servers equipment, network hardware and electronic components provider</p>
                    </div>
                </div>
            </div>
            <div class="ant-row" style="margin-left:-8px;margin-right:-8px">
                <div style="padding-left:8px;padding-right:8px" class="ant-col ant-col-6">
                    <ul class="ant-menu ant-menu-root ant-menu-inline ant-menu-light VMenu" role="menu" tabindex="0" data-menu-list="true">
                        <li class="ant-menu-submenu ant-menu-submenu-inline" role="none">
                            <div role="menuitem" class="ant-menu-submenu-title" tabindex="-1" data-menu-id="rc-menu-uuid-31054-2-1" aria-expanded="false" aria-haspopup="true" aria-controls="rc-menu-uuid-31054-2-1-popup" style="padding-left: 24px;">
                                <span class="ant-menu-title-content">Cisco</span>
                                <i class="ant-menu-submenu-arrow"></i>
                            </div>
                        </li>
                        <li class="ant-menu-submenu ant-menu-submenu-inline" role="none">
                            <div role="menuitem" class="ant-menu-submenu-title" tabindex="-1" data-menu-id="rc-menu-uuid-31054-2-1491" aria-expanded="false" aria-haspopup="true" aria-controls="rc-menu-uuid-31054-2-1491-popup" style="padding-left: 24px;">
                                <span class="ant-menu-title-content">HP</span>
                                <i class="ant-menu-submenu-arrow"></i>
                            </div>
                        </li>
                        <li class="ant-menu-submenu ant-menu-submenu-inline" role="none">
                            <div role="menuitem" class="ant-menu-submenu-title" tabindex="-1" data-menu-id="rc-menu-uuid-31054-2-1653" aria-expanded="false" aria-haspopup="true" aria-controls="rc-menu-uuid-31054-2-1653-popup" style="padding-left: 24px;">
                                <span class="ant-menu-title-content">IBM</span>
                                <i class="ant-menu-submenu-arrow"></i>
                            </div>
                        </li>
                        <li class="ant-menu-submenu ant-menu-submenu-inline" role="none">
                            <div role="menuitem" class="ant-menu-submenu-title" tabindex="-1" data-menu-id="rc-menu-uuid-31054-2-1719" aria-expanded="false" aria-haspopup="true" aria-controls="rc-menu-uuid-31054-2-1719-popup" style="padding-left: 24px;">
                                <span class="ant-menu-title-content">Lenovo</span>
                                <i class="ant-menu-submenu-arrow"></i>
                            </div>
                        </li>
                        <li class="ant-menu-submenu ant-menu-submenu-inline" role="none">
                            <div role="menuitem" class="ant-menu-submenu-title" tabindex="-1" data-menu-id="rc-menu-uuid-31054-2-1732" aria-expanded="false" aria-haspopup="true" aria-controls="rc-menu-uuid-31054-2-1732-popup" style="padding-left: 24px;">
                                <span class="ant-menu-title-content">Mining</span>
                                <i class="ant-menu-submenu-arrow"></i>
                            </div>
                        </li>
                    </ul>
                    <div style="display:none" aria-hidden="true"></div>
                </div>
                <div style="padding-left:8px;padding-right:8px" class="ant-col ant-col-18">
                    <nav class="ant-breadcrumb" style="margin:16px 0;text-transform:uppercase;letter-spacing:1px;font-size:10px;font-weight:600;color:#349bd4">
                        <ol>
                            <li><span class="ant-breadcrumb-link">
                                <a href="/catalog">Catalog</a>
                            </span>
                                <span class="ant-breadcrumb-separator">/</span>
                            </li>
                            <li><span class="ant-breadcrumb-link">
                                <a href="/catalog/1491">HP</a>
                            </span>
                                <span class="ant-breadcrumb-separator">/</span>
                            </li>
                            <li>
                                <span class="ant-breadcrumb-link">Systems and options</span>
                                <span class="ant-breadcrumb-separator">/</span>
                            </li>
                        </ol>
                    </nav>
                    <div class="ant-card ant-card-bordered catalogProductCard">
                        <div class="ant-card-body">
                            <div class="ant-row">
                                <div class="ant-col ant-col-lg-20">
                                    <h2 style="font-weight: 500; font-size: 15px; text-transform: uppercase; margin: 5px 0px;">769506-B21</h2>
                                    <h3 style="font-size: 11px; color: rgb(125, 135, 156); text-transform: uppercase; margin: 5px 0px;">HP</h3>
                                    <p style="font-size: 12px;">HP DL160 GEN9 E5-2630V3 SFF ES WW SVR</p>
                                </div><div class="ant-col ant-col-lg-4">
                                <div style="display: flex; align-items: center; justify-content: center; font-size: 16px; font-weight: 500; height: 100%; color: rgb(52, 155, 212); float: right;">$221.4</div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <ul class="ant-pagination" unselectable="unselectable" style="float: right;">
                        <li title="Previous Page" class="ant-pagination-prev ant-pagination-disabled" aria-disabled="true">
                            <button class="ant-pagination-item-link" type="button" tabindex="-1" disabled="">
                                <span role="img" aria-label="left" class="anticon anticon-left">
                                    <svg viewBox="64 64 896 896" focusable="false" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                        <path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 000 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path>
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li title="1" class="ant-pagination-item ant-pagination-item-1 ant-pagination-item-active" tabindex="0">
                            <a rel="nofollow">1</a>
                        </li>
                        <li title="2" class="ant-pagination-item ant-pagination-item-2" tabindex="0">
                            <a rel="nofollow">2</a>
                        </li>
                        <li title="Next 5 Pages" tabindex="0" class="ant-pagination-jump-next ant-pagination-jump-next-custom-icon">
                            <a class="ant-pagination-item-link">
                                <div class="ant-pagination-item-container">
                                    <span role="img" aria-label="double-right" class="anticon anticon-double-right ant-pagination-item-link-icon">
                                        <svg viewBox="64 64 896 896" focusable="false" data-icon="double-right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                            <path d="M533.2 492.3L277.9 166.1c-3-3.9-7.7-6.1-12.6-6.1H188c-6.7 0-10.4 7.7-6.3 12.9L447.1 512 181.7 851.1A7.98 7.98 0 00188 864h77.3c4.9 0 9.6-2.3 12.6-6.1l255.3-326.1c9.1-11.7 9.1-27.9 0-39.5zm304 0L581.9 166.1c-3-3.9-7.7-6.1-12.6-6.1H492c-6.7 0-10.4 7.7-6.3 12.9L751.1 512 485.7 851.1A7.98 7.98 0 00492 864h77.3c4.9 0 9.6-2.3 12.6-6.1l255.3-326.1c9.1-11.7 9.1-27.9 0-39.5z"></path>
                                        </svg>
                                    </span>
                                    <span class="ant-pagination-item-ellipsis">•••</span>
                                </div>
                            </a>
                        </li>
                        <li title="187" class="ant-pagination-item ant-pagination-item-187" tabindex="0"><a rel="nofollow">187</a>
                        </li>
                        <li title="Next Page" class="ant-pagination-next" aria-disabled="false" tabindex="0">
                            <button class="ant-pagination-item-link" type="button" tabindex="-1">
                                <span role="img" aria-label="right" class="anticon anticon-right">
                                    <svg viewBox="64 64 896 896" focusable="false" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                        <path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 00302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 000-50.4z"></path>
                                    </svg>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer class="ant-layout-footer" style="text-align:center;margin-top:32px">GammaIT ©2022</footer>
    </section>
</div>
<next-route-announcer>
    <p aria-live="assertive" id="__next-route-announcer__" role="alert" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap; overflow-wrap: normal;">Gamma Group - Supplier of network and server equipment</p>
</next-route-announcer>
</body>
</html>