<div class="modal fade" id="entity_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {#modal header#}
            <div class="modal-header" id="entity_modal_header">
            </div>
            {#modal body#}
            <div class="modal-body" id="entity_modal_body">
            </div>
            {#modal footer#}
            <div class="modal-footer" id="entity_modal_footer">
            </div>
        </div>
    </div>
</div>