{% load static %}

<div class="navbar">
    <div class="logo">
        <div class="image">
            <img src="{% static 'img/logo.png' %}" width="32" height="32" alt="logo" />
        </div>
        <div class="brand">
            <h5 class="brand-text">GAMMA GROUP</h5>
        </div>
    </div>
    <div class="catalog">
        <button class="btn-gamma-info" id="catalog_block">
            <div id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <span class="text_button">Каталог</span>
        </button>
    </div>

    <div class="search">
        {% include 'components/products_search.html' %}
    </div>

    <div class="pages">
        <a href="" class="pages__link active_link_button">Главная</a>
        <a href="" class="pages__link">О нас</a>
        <a href="" class="pages__link">Контакты</a>
    </div>

</div>
<!-- <div class="catalog_menu_close menu_class">
    <aside class="aside_block__menu">
        <div id="category-list" class="category_list">
            <p id="category-name"></p>
        </div>
    </aside>
    <section>
       
        <ul id="category-children"></ul>
    </section>
</div> -->