{% extends 'index.html' %}
{% load static %}
{% block page_title %}Дашборд{% endblock %}

{% csrf_token %}
{% block page_content %}
<!-- 1-й уровень ! -->
<div id="app">
  {{ message }}
</div>



<div class="content_info">
  <div class="content_info__categories">
    <p class="content_info__categories__header">123</p>
    <p class="content_info__categories__decription">Описание</p>
  </div>
  <div class="content_info__categories">
    <p class="content_info__categories__header">321</p>
    <p class="content_info__categories__decription">Описание</p>
  </div>
  <div class="content_info__categories">
    <p class="content_info__categories__header">44</p>
    <p class="content_info__categories__decription">Описание</p>
  </div>
  <div class="content_info__categories">
    <p class="content_info__categories__header">123</p>
    <p class="content_info__categories__decription">Описание</p>
  </div>
</div>
<!-- 2-й уровень ! -->
<div class="content">
  <div class="content__categories">
    <div class="content__categories__header">
      <p class="content__categories__header_text">Категории</p>
      <div class="right_block">
        <button class="content__categories__header_download">
          <img src="{% static 'img/donload.png' %}" alt="">&nbsp;&nbsp;Скачать
        </button>
        <button class="btn_none" id="refreshData">
          <img src="{% static 'img/refresh.png' %}" alt="">
        </button>
      </div>
    </div>
    <hr>
    <ul id="tree"></ul>
  </div>
  <div class="content__categories">

    <div id="form_category"></div>
    <div id="selector_form" ></div>
  </div>
</div>



{% endblock %}