:root {
  --white_color: #ffffff;
  --blue_color: #5eb7e7;
  --lightblue_color: #84C4E4;
  --black_color: #1f1f1f;
  --priceSize: 20px
}

input[name='price_min'], input[name='price_max']{
    border-radius: 5px;
    width: 45%;
    padding-left: 10px;
}

.pagination-container {
    text-align: center;
}

.pagination {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ffffff;
    color: #333;
}

.pagination li.current-page {
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid #ABE1FA;
    border-radius: 3px;
    background-color: #ffffff;
    color: #333;
}

.btn-gamma-info {
    background: var(--blue_color);
    padding: 10px 2vh;
    color: rgb(255, 255, 255);
    font-weight: 400;
    border: none;
    border-radius: 5px;
    position: relative;
    white-space: nowrap;
    transition: 0.4s;
    width: 100%;
}

.btn-gamma-info:hover {
    background: var(--lightblue_color);
    cursor: pointer;
}

#search_button{
    background-color: #84C4E4;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 2%;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: #1F3D79;
}

#search_button:hover{
    background-color: rgba(132, 196, 228, 0.9);
}

#search_q{
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #84C4E4;
    height: 100%;
    width: 100%;
    padding-left: 1%;
}

.ui-menu-item-wrapper:hover{
    background-color: #84C4E4 !important;
    border: none !important;
    outline: none !important;
    border-radius: 5px;
}

.ui-menu-item{
    border-radius: 5px !important;
}

.ui-menu-item:focus{
    background-color: #84C4E4 !important;
    border: none !important;
    outline: none !important;
    border-radius: 5px !important;
}

#ui-id-1{
    border-radius: 5px !important;
    width: 44.7vw !important;
}

.more_info_link{
    text-decoration: none;
    font-size: 22px;
    color: #84C4E4;
}

.more_info_link:hover{
    color: #349BD4;
}

.more_info_hidden{
    display: none;
}

#result input[type="text"]{
  width: 90%;
}
#result input[type="number"]{
  width: 85%;
}