:root {
  --backgroundBody: #1D253B;
  --backgroundBlock: #2E3859;
  --borderRad: 5px;
  --colorText: #EEF9F8;
  --FontSizeHeader: 24px;
  --FontSizeDescription: 18px;
  --hrColor: #4c5a89;
}

@font-face {
  font-family: 'Sriracha';
  src: url('/static/fonts/Sriracha.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--backgroundBody)
}


#tree span:hover {
  cursor: pointer;
  font-weight: bold;
}

/* #tree span.hover, для приоритета перед :hover также добавлен подселектор */

#tree span.hover,
#tree span.hover:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

span.avatar {
  padding: 1px;
  border: 1px dotted black;
  background: white;
  cursor: pointer;
  opacity: 0.6;
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=60);
  /* IE opacity */
}

hr {
  background: var(--hrColor);
  height: 3px;
}

/* 2-й уровень */
.content {
  display: flex;
  justify-content: space-between;
  width: 99vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: auto;
  margin-top: 3%;
}

.content__categories__header {
  display: flex;
  justify-content: space-between;
}

.content__categories {
  background: var(--backgroundBlock);
  width: 49%;
  border-radius: var(--borderRad);
}

.content__categories__header_text {
  color: var(--colorText);
  padding: 1% 0 0 5%;
  font-size: var(--FontSizeHeader);
  font-family: 'Montserrat', sans-serif;
}

.content__categories__header_download {
  border-radius: 50px;
  padding: 0 7%;
  margin-top: 1%;
  min-width: 15%;
  border-radius: 1px solid #777EB6;
  border: solid 2px #777EB6;
  background: rgba(255, 255, 255, 0);
  color: #777EB6;
}

/* блок внутри хедера блоков с информацией */
.right_block {
  margin-top: 1%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.btn_none {
  background: rgba(255, 255, 255, 0);
  border: none;
  width: auto;
  height: auto;
}

ul,
li,
span,
p {
  font-family: Sriracha;
  color: rgb(213, 213, 213)
}


/* Блок инфо 1-й уровень */
.content_info {
  display: flex;
  justify-content: space-between;
  width: 99vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}


.content_info__categories {
  width: 23vw;
  min-height: 10vw;
  border-radius: var(--borderRad);
  margin-top: 3%;
  border-radius: var(--borderRad);
}

.content_info__categories:nth-child(1) {
  background: #2CBECA;
  background: linear-gradient(45deg, #2CBECA, #24334B);
}

.content_info__categories:nth-child(2) {
  background: #E47A66;
  background: linear-gradient(45deg, #E47A66, #824965, #40354F)
}

.content_info__categories:nth-child(3) {
  background: #FFB901;
  background: linear-gradient(45deg, #FFB901, #F58F44, #524444)
}

.content_info__categories:nth-child(4) {
  background: #7C76FC;
  background: linear-gradient(45deg, #7C76FC, #A055EB, #3D3467)
}

.content_info__categories__header {
  color: var(--colorText);
  padding: 1% 0 -0 5%;
  font-size: var(--FontSizeHeader);
  font-family: 'Montserrat', sans-serif;
}

.content_info__categories__decription {
  color: var(--colorText);
  margin-top: -1%;
  padding: 0 0 0 5%;
  font-size: var(--FontSizeDescription);
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;

}


#refreshData {
  transition: all 0.5s linear;
}

#refreshData.transform {
  transform: rotate(360deg);
}