@font-face {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

:root{
    --white_color: #ffffff;
}

*{
    margin: 0;
    padding: 0
}

body{
    background-color: var(--white_color);
    font-family: 'IBM Plex Sans', sans-serif;
}

main{
    position: relative;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .image img{
    /*width: 32px;*/
    /*height: 32px;*/
}

.logo .brand-text{
    /*position: absolute;*/
    /*top: 15%;*/
    /*left: 100%;*/
    white-space: nowrap;
    color: #89C5E6;
    font-weight: bold;
}