{% extends 'copy_pages/base.html' %}
{% load static %}

{% block page_content %}
    <nav class="ant-breadcrumb" style="margin:16px 0;text-transform:uppercase;letter-spacing:1px;font-size:10px;font-weight:600;color:#349bd4">
        <ol>
            <li>
                <span class="ant-breadcrumb-link">
                    <a href="/about">О нас</a>
                </span>
                <span class="ant-breadcrumb-separator">/</span>
            </li>
        </ol>
    </nav>
    <h4>Gamma Group - поставщик сетевого и серверного оборудования</h4>
    <div style="border-radius:6px;width:100%;min-height:350px;background:url({% static 'img/slider.png' %}) left center no-repeat #ABE1FA;margin-bottom:32px">
        <div class="ant-row ant-row-middle">
            <div style="min-height:350px" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-13 ant-col-lg-10"></div>
            <div style="vertical-align:middle;padding:24px" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-11 ant-col-lg-14">
                <h1 style="color:#1F3D79;margin-bottom:4px;font-size:26px">Электронные Компоненты</h1>
                <p>Поставщик серверного оборудования, сетевого оборудования и электронных компонентов</p>
            </div>
        </div>
    </div>
    <div class="ant-card ant-card-bordered">
        <div class="ant-card-head">
            <div class="ant-card-head-wrapper">
                <div class="ant-card-head-title">
                    О нас
                </div>
            </div>
        </div>
        <div class="ant-card-body">
            <p>Gamma Group была организована в 2008 году как сообщество квалифицированных менеджеров,
                имеющих большой опыт работы в различных ИТ-структурах
                (реселлеры, дистрибьюторы,интеграторы, представительства вендоров, государственные структуры).</p>
        </div>
    </div>
    <br>
    <br>
    <div class="ant-row" style="margin-left: -10px; margin-right: -10px; row-gap: 20px;">
        <div class="ant-col ant-col-sm-24 ant-col-lg-8" style="padding-left: 10px; padding-right: 10px;">
            <div class="ant-card ant-card-bordered">
                <div class="ant-card-head">
                    <div class="ant-card-head-wrapper">
                        <div class="ant-card-head-title">Формула работы
                        </div>
                    </div>
                </div>
                <div class="ant-card-body">
                    <p>С самого начала мы определили для себя оптимальную формулу работы:</p>
                    <ul>
                        <li>цена как наиболее важный фактор продаж</li>
                        <li>индивидуальный подход, мы работаем с людьми, а не с "клиентами"</li>
                        <li>максимальная скорость обработки заказа</li>
                        <li>своевременная, бесплатная доставка</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ant-col ant-col-sm-24 ant-col-lg-8" style="padding-left: 10px; padding-right: 10px;">
            <div class="ant-card ant-card-bordered">
                <div class="ant-card-head">
                    <div class="ant-card-head-wrapper">
                        <div class="ant-card-head-title">Поставщики из Европы и Америки</div>
                    </div>
                </div>
                <div class="ant-card-body">
                    <p>Более 70 поставщиков в Европе и Америке:</p>
                    <ul>
                        <li>50 дистрибьюторов в ключевых областях (весь ассортимент оборудования от производителя)</li>
                        <li>Gamma Group - поставщик сетевого и серверного оборудования</li>
                        <li>оптовые базы</li>
                        <li>торговые посредники</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ant-col ant-col-sm-24 ant-col-lg-8" style="padding-left: 10px; padding-right: 10px;">
            <div class="ant-card ant-card-bordered">
                <div class="ant-card-head">
                    <div class="ant-card-head-wrapper">
                        <div class="ant-card-head-title">Возможность</div>
                    </div>
                </div>
                <div class="ant-card-body">
                    <p>Это дает нам возможность:</p>
                    <ul>
                        <li>оперативно оценивать ситуацию на рынке</li>
                        <li>очень часто мы находим то, чего другие найти не могут или не хотят</li>
                        <li>в зависимости от сроков у вас всегда есть выбор: быстрое выполнение заказа или оптимальная цена</li>
                        <li>работаем на индивидуальных условиях.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ant-row" style="margin-left: -10px; margin-right: -10px; row-gap: 20px;">
        <div class="ant-col ant-col-24" style="padding-left: 10px; padding-right: 10px;">
            <div class="ant-card ant-card-bordered" style="margin-top: 20px; border-radius: 6px;">
                <div class="ant-card-body">
                    <p><b>Азия:</b> мы экспортируем оборудование напрямую из Китая, Малайзии, Тайваня и др.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}