{% load static %}

<html class=" FB_FW_ext Bco" lang="ru">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Gamma Group - Поставщик сетевого и серверного оборудования</title>
    <meta name="description" content="Supplier of network and server equipment">
    <meta name="next-head-count" content="4">
    {#    <link rel="stylesheet" href="{% static 'css/59fa98752805dbb1.css'%}" data-n-g="">#}
    <link rel="stylesheet" href="{% static 'css/8ad1e2eb9da02927.css'%}" data-n-p="">
    <link rel="stylesheet" href="{% static 'css/59fa98752805dbb1.css'%}" data-n-g="">
    <link rel="stylesheet" href="{% static 'css/copy_css.css'%}" data-n-g="">
    <noscript data-n-css=""></noscript>
    {% comment %}favicon{% endcomment %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.ico' %}" />

    {% comment %}JQuery{% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div id="__next">
    <section class="ant-layout layout">
        <header class="ant-layout-header" style="position:fixed;z-index:1;width:100%;display:flex;justify-content:flex-start">
            <div class="Logo_logo__Dkttb" onclick="window.location.href='/'" style="cursor: pointer">
                <img alt="Gamma Group" srcset="{% static 'img/logo.png' %}" src="{% static 'img/logo2.webp' %}" width="32" height="32" decoding="async" data-nimg="future" class="logo" loading="lazy" style="color:transparent">
                <span class="Logo_title__qpwTs">Gamma&nbsp;Group</span>
            </div>
            <ul class="ant-menu-overflow ant-menu ant-menu-root ant-menu-horizontal ant-menu-light" style="width:calc(100% - 240px);margin-left:100px; position: relative" role="menu" tabindex="0" data-menu-list="true">
                <li name="page-link" class="ant-menu-overflow-item ant-menu-item ant-menu-item-only-child" style="opacity:1;order:0" role="menuitem" tabindex="-1">
                    <span class="ant-menu-title-content">
                        <a href="{% url 'index' %}">Главная</a>
                    </span>
                </li>
                <li name="page-link" class="ant-menu-overflow-item ant-menu-item ant-menu-item-only-child" style="opacity:1;order:1" role="menuitem" tabindex="-1">
                    <span class="ant-menu-title-content">
                        <a href="{% url 'catalog' %}">Каталог</a>
                    </span>
                </li>
                <li name="page-link" class="ant-menu-overflow-item ant-menu-item ant-menu-item-only-child" style="opacity:1;order:2" role="menuitem" tabindex="-1">
                    <span class="ant-menu-title-content">
                        <a href="{% url 'about' %}">О нас</a>
                    </span>
                </li>
                <li name="page-link" class="ant-menu-overflow-item ant-menu-item ant-menu-item-only-child" style="opacity:1;order:3" role="menuitem" tabindex="-1">
                    <span class="ant-menu-title-content">
                        <a href="{% url 'contacts' %}">Контакты</a>
                    </span>
                </li>
                <li class="ant-menu-overflow-item ant-menu-item-only-child"
                    style="opacity:1;order:4;"
                    role="menuitem" tabindex="-1">
                    <form id="search_form" action="{% url 'catalog' %}" method="GET" style="display: flex; position: relative; height: 100%">
                        <input placeholder="Искать товары" class="form-control" id="search_q" name="name" />
                        <button type="submit" id="search_button" value="Искать">Найти</button>
                    </form>
                </li>
            </ul>
            <div style="display:none" aria-hidden="true"></div>
        </header>
        {% comment %}page content{% endcomment %}
        <main class="ant-layout-content container">
            {% block page_content %}
            {% endblock %}
        </main>
        <footer class="ant-layout-footer" style="text-align:center;margin-top:32px">GammaIT ©2023</footer>
    </section>
</div>
<next-route-announcer>
    <p aria-live="assertive" id="__next-route-announcer__" role="alert" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap; overflow-wrap: normal;">Gamma Group - Supplier of network and server equipment</p>
</next-route-announcer>


<script src="{% static 'js/index.js' %}"></script>

</body>
</html>